In [25]:
import os
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [33]:
dir_data = '/Users/Adrianko/Documents/GitHub/2nd-ML100Days/data/'

In [34]:
f_app = os.path.join(dir_data, 'application_train.csv')
#HomeCredit_columns_description.csv
#application_train.csv
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)
app_train.head(5)

Path of read in data: /Users/Adrianko/Documents/GitHub/2nd-ML100Days/data/application_train.csv

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
#資料的 row 數以及 column 數
#列出所有欄位
#截取部分資料
#還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

In [48]:
app_train.shape
print('ROWS & COLUMNS',app_train.shape)
app_train.columns
print(app_train.columns)
app_train.index
print(app_train.index)

ROWS & COLUMNS (307511, 122)
Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)
RangeIndex(start=0, stop=307511, step=1)

In [62]:
print(app_train.iloc[0, 1]) # 第一列第二欄：
print("---")  
print(app_train.iloc[0:1,:]) # 第一列：
print("---")  
print(app_train.iloc[:,1]) # 第二欄：
print("---")  
print(app_train.iloc[2:4,:]) # 第三和第四列
print("---") 
print(app_train.iloc[:,2]) # 第三欄
print("---")  
print(app_train["TARGET"])   
print("---")  
print(app_train.TARGET)  
print("---") 
out_app_train= app_train[app_train.loc[:,"TARGET"] > 0] # 
print(out_app_train)  
print("---")  
#app_train.sort_index(axis = 0, ascending = True) #???
app_train.sort_values(by = 'AMT_CREDIT') #透過指定欄位的數值排序

1
---
   SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
0      100002       1         Cash loans           M            N

  FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  \
0               Y             0          202500.0    406597.5      24700.5

              ...              FLAG_DOCUMENT_18 FLAG_DOCUMENT_19  \
0             ...                             0                0

  FLAG_DOCUMENT_20 FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR  \
0                0                0                        0.0

  AMT_REQ_CREDIT_BUREAU_DAY  AMT_REQ_CREDIT_BUREAU_WEEK  \
0                       0.0                         0.0

   AMT_REQ_CREDIT_BUREAU_MON  AMT_REQ_CREDIT_BUREAU_QRT  \
0                        0.0                        0.0

   AMT_REQ_CREDIT_BUREAU_YEAR
0                         1.0

[1 rows x 122 columns]
---
0         1
1         0
2         0
3         0
4         0
5         0
6         0
7         0
8         0
9         0
10        0
11        0
12        0
13        0
14        0
15        0
16        0
17        0
18        0
19        0
20        0
21        0
22        0
23        0
24        0
25        0
26        1
27        0
28        0
29        0
         ..
307481    1
307482    0
307483    0
307484    0
307485    0
307486    0
307487    0
307488    0
307489    1
307490    0
307491    0
307492    0
307493    0
307494    0
307495    0
307496    0
307497    0
307498    0
307499    0
307500    0
307501    0
307502    0
307503    0
307504    0
307505    0
307506    0
307507    0
307508    0
307509    1
307510    0
Name: TARGET, Length: 307511, dtype: int64
---
   SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
2      100004       0    Revolving loans           M            Y
3      100006       0         Cash loans           F            N

  FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  \
2               Y             0           67500.0    135000.0       6750.0
3               Y             0          135000.0    312682.5      29686.5

              ...              FLAG_DOCUMENT_18 FLAG_DOCUMENT_19  \
2             ...                             0                0
3             ...                             0                0

  FLAG_DOCUMENT_20 FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR  \
2                0                0                        0.0
3                0                0                        NaN

  AMT_REQ_CREDIT_BUREAU_DAY  AMT_REQ_CREDIT_BUREAU_WEEK  \
2                       0.0                         0.0
3                       NaN                         NaN

   AMT_REQ_CREDIT_BUREAU_MON  AMT_REQ_CREDIT_BUREAU_QRT  \
2                        0.0                        0.0
3                        NaN                        NaN

   AMT_REQ_CREDIT_BUREAU_YEAR
2                         0.0
3                         NaN

[2 rows x 122 columns]
---
0              Cash loans
1              Cash loans
2         Revolving loans
3              Cash loans
4              Cash loans
5              Cash loans
6              Cash loans
7              Cash loans
8              Cash loans
9         Revolving loans
10             Cash loans
11             Cash loans
12             Cash loans
13             Cash loans
14             Cash loans
15             Cash loans
16             Cash loans
17        Revolving loans
18        Revolving loans
19             Cash loans
20        Revolving loans
21             Cash loans
22             Cash loans
23             Cash loans
24             Cash loans
25             Cash loans
26             Cash loans
27             Cash loans
28             Cash loans
29        Revolving loans
               ...
307481         Cash loans
307482         Cash loans
307483         Cash loans
307484         Cash loans
307485    Revolving loans
307486         Cash loans
307487         Cash loans
307488         Cash loans
307489         Cash loans
307490         Cash loans
307491         Cash loans
307492         Cash loans
307493         Cash loans
307494         Cash loans
307495         Cash loans
307496    Revolving loans
307497         Cash loans
307498         Cash loans
307499         Cash loans
307500         Cash loans
307501         Cash loans
307502         Cash loans
307503         Cash loans
307504         Cash loans
307505         Cash loans
307506         Cash loans
307507         Cash loans
307508         Cash loans
307509         Cash loans
307510         Cash loans
Name: NAME_CONTRACT_TYPE, Length: 307511, dtype: object
---
0         1
1         0
2         0
3         0
4         0
5         0
6         0
7         0
8         0
9         0
10        0
11        0
12        0
13        0
14        0
15        0
16        0
17        0
18        0
19        0
20        0
21        0
22        0
23        0
24        0
25        0
26        1
27        0
28        0
29        0
         ..
307481    1
307482    0
307483    0
307484    0
307485    0
307486    0
307487    0
307488    0
307489    1
307490    0
307491    0
307492    0
307493    0
307494    0
307495    0
307496    0
307497    0
307498    0
307499    0
307500    0
307501    0
307502    0
307503    0
307504    0
307505    0
307506    0
307507    0
307508    0
307509    1
307510    0
Name: TARGET, Length: 307511, dtype: int64
---
0         1
1         0
2         0
3         0
4         0
5         0
6         0
7         0
8         0
9         0
10        0
11        0
12        0
13        0
14        0
15        0
16        0
17        0
18        0
19        0
20        0
21        0
22        0
23        0
24        0
25        0
26        1
27        0
28        0
29        0
         ..
307481    1
307482    0
307483    0
307484    0
307485    0
307486    0
307487    0
307488    0
307489    1
307490    0
307491    0
307492    0
307493    0
307494    0
307495    0
307496    0
307497    0
307498    0
307499    0
307500    0
307501    0
307502    0
307503    0
307504    0
307505    0
307506    0
307507    0
307508    0
307509    1
307510    0
Name: TARGET, Length: 307511, dtype: int64
---
        SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
0           100002       1         Cash loans           M            N
26          100031       1         Cash loans           F            N
40          100047       1         Cash loans           M            N
42          100049       1         Cash loans           F            N
81          100096       1         Cash loans           F            N
94          100112       1         Cash loans           M            Y
110         100130       1         Cash loans           F            N
138         100160       1         Cash loans           M            N
154         100181       1         Cash loans           F            N
163         100192       1         Cash loans           F            N
180         100209       1    Revolving loans           M            N
184         100214       1         Cash loans           F            N
211         100246       1         Cash loans           F            N
235         100273       1         Cash loans           F            N
242         100282       1    Revolving loans           F            Y
246         100286       1         Cash loans           M            Y
255         100295       1         Cash loans           M            Y
260         100300       1         Cash loans           M            N
261         100301       1         Cash loans           M            N
283         100326       1         Cash loans           M            Y
291         100336       1         Cash loans           F            Y
344         100396       1         Cash loans           M            N
348         100401       1         Cash loans           F            N
368         100424       1         Cash loans           M            N
381         100439       1         Cash loans           M            N
389         100452       1         Cash loans           M            N
408         100472       1         Cash loans           M            Y
413         100477       1         Cash loans           M            Y
419         100485       1    Revolving loans           M            Y
424         100490       1         Cash loans           M            N
...            ...     ...                ...         ...          ...
307123      455819       1         Cash loans           M            Y
307126      455822       1         Cash loans           M            Y
307133      455830       1    Revolving loans           F            N
307162      455865       1         Cash loans           M            N
307177      455880       1         Cash loans           M            N
307183      455886       1         Cash loans           F            N
307248      455964       1         Cash loans           F            N
307256      455973       1         Cash loans           F            N
307266      455983       1         Cash loans           M            Y
307268      455985       1         Cash loans           M            N
307283      456000       1         Cash loans           M            Y
307285      456002       1         Cash loans           F            N
307288      456005       1         Cash loans           F            N
307310      456034       1         Cash loans           M            N
307323      456047       1         Cash loans           F            N
307328      456052       1         Cash loans           M            Y
307363      456088       1         Cash loans           F            Y
307377      456102       1         Cash loans           M            N
307383      456108       1         Cash loans           F            N
307386      456112       1         Cash loans           F            N
307407      456140       1         Cash loans           F            Y
307410      456143       1         Cash loans           F            N
307433      456171       1         Cash loans           M            N
307438      456176       1         Cash loans           M            N
307446      456184       1         Cash loans           M            N
307448      456186       1         Cash loans           M            N
307475      456215       1         Cash loans           F            N
307481      456225       1         Cash loans           M            N
307489      456233       1         Cash loans           F            N
307509      456254       1         Cash loans           F            N

       FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
0                    Y             0          202500.0    406597.5
26                   Y             0          112500.0    979992.0
40                   Y             0          202500.0   1193580.0
42                   N             0          135000.0    288873.0
81                   Y             0           81000.0    252000.0
94                   Y             0          315000.0    953460.0
110                  Y             1          157500.0    723996.0
138                  Y             0          292500.0    675000.0
154                  Y             0          157500.0    245619.0
163                  N             0          111915.0    225000.0
180                  Y             3          180000.0    540000.0
184                  Y             1          202500.0    436032.0
211                  Y             0          135000.0    495216.0
235                  Y             0          157500.0   1710000.0
242                  Y             0           73341.0    135000.0
246                  Y             1          121500.0    263686.5
255                  N             1          225000.0   1019205.0
260                  N             0           63000.0    426645.0
261                  Y             1          112500.0    571486.5
283                  Y             0           36000.0    284400.0
291                  Y             0          157500.0    497520.0
344                  N             0          112500.0    417024.0
348                  Y             0          202500.0    343683.0
368                  Y             0          112500.0    117162.0
381                  Y             0           81000.0    312840.0
389                  Y             1          171000.0   1009566.0
408                  Y             1          135000.0    545040.0
413                  Y             1          112500.0    284400.0
419                  N             1          270000.0    810000.0
424                  N             0          135000.0    755190.0
...                ...           ...               ...         ...
307123               Y             1          225000.0   1149628.5
307126               N             2          112500.0    450000.0
307133               Y             0           90000.0    135000.0
307162               N             0          180000.0    450000.0
307177               N             0          135000.0    260640.0
307183               Y             0          180000.0    328405.5
307248               Y             0          112500.0    450000.0
307256               Y             0           58500.0    183384.0
307266               N             0          189000.0    604413.0
307268               N             0          135000.0    355536.0
307283               Y             0          130500.0    306306.0
307285               Y             0           76500.0    284400.0
307288               Y             0           90000.0    601470.0
307310               Y             0           90000.0    490536.0
307323               Y             0           58500.0    448056.0
307328               N             1          135000.0    316125.0
307363               Y             0           29250.0    663093.0
307377               Y             0           67500.0    313438.5
307383               Y             1          135000.0    457834.5
307386               Y             0          135000.0    221832.0
307407               Y             1          261000.0    711454.5
307410               Y             0           85500.0    180000.0
307433               Y             0           50400.0    113760.0
307438               Y             0          171000.0   1436850.0
307446               N             0          270000.0    900000.0
307448               N             1          207000.0    450000.0
307475               N             1          144000.0   1303200.0
307481               Y             0          225000.0    297000.0
307489               Y             0          225000.0    521280.0
307509               Y             0          171000.0    370107.0

        AMT_ANNUITY             ...              FLAG_DOCUMENT_18  \
0           24700.5             ...                             0
26          27076.5             ...                             0
40          35028.0             ...                             0
42          16258.5             ...                             0
81          14593.5             ...                             0
94          64107.0             ...                             0
110         30802.5             ...                             0
138         36747.0             ...                             0
154         12667.5             ...                             0
163         21037.5             ...                             0
180         27000.0             ...                             0
184         28516.5             ...                             0
211         26995.5             ...                             0
235         66262.5             ...                             0
242          6750.0             ...                             1
246         17298.0             ...                             0
255         31032.0             ...                             1
260         22468.5             ...                             0
261         31131.0             ...                             0
283         10849.5             ...                             0
291         28692.0             ...                             0
344         25330.5             ...                             0
348         16663.5             ...                             0
368         12433.5             ...                             0
381         22891.5             ...                             0
389         36391.5             ...                             0
408         26509.5             ...                             0
413         22599.0             ...                             0
419         40500.0             ...                             0
424         38686.5             ...                             0
...             ...             ...                           ...
307123      48838.5             ...                             0
307126      30573.0             ...                             0
307133       6750.0             ...                             0
307162      30573.0             ...                             0
307177      28197.0             ...                             0
307183      26077.5             ...                             0
307248      27324.0             ...                             0
307256      14485.5             ...                             0
307266      25537.5             ...                             0
307268      19417.5             ...                             0
307283      13108.5             ...                             0
307285      13963.5             ...                             0
307288      30838.5             ...                             0
307310      23989.5             ...                             0
307323      17019.0             ...                             0
307328      15372.0             ...                             0
307363      21519.0             ...                             0
307377      20943.0             ...                             0
307383      33444.0             ...                             0
307386      17653.5             ...                             0
307407      47673.0             ...                             0
307410       8059.5             ...                             0
307433       7731.0             ...                             0
307438      42142.5             ...                             0
307446      40671.0             ...                             0
307448      32746.5             ...                             0
307475      46809.0             ...                             0
307481      19975.5             ...                             0
307489      23089.5             ...                             0
307509      20205.0             ...                             0

       FLAG_DOCUMENT_19 FLAG_DOCUMENT_20 FLAG_DOCUMENT_21  \
0                     0                0                0
26                    0                0                0
40                    0                0                0
42                    0                0                0
81                    0                0                0
94                    0                0                0
110                   0                0                0
138                   0                0                0
154                   0                0                0
163                   0                0                0
180                   0                0                0
184                   0                0                0
211                   0                0                0
235                   0                0                0
242                   0                0                0
246                   0                0                0
255                   0                0                0
260                   0                0                0
261                   0                0                0

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
51295,159395,0,Cash loans,M,Y,Y,0,72000.0,45000.0,4513.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
43617,150491,0,Cash loans,F,N,Y,0,99000.0,45000.0,4383.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
72466,184036,0,Cash loans,F,Y,Y,1,90000.0,45000.0,4581.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
91081,205765,0,Cash loans,F,N,N,0,171000.0,45000.0,4725.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
136953,258846,0,Cash loans,F,N,Y,0,67500.0,45000.0,4513.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
64895,175251,0,Cash loans,F,N,N,0,85500.0,45000.0,4581.0,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,1.0
9257,110765,0,Cash loans,M,Y,Y,0,135000.0,45000.0,4207.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
264346,406141,0,Cash loans,F,Y,N,0,112500.0,45000.0,4977.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
170546,297659,0,Cash loans,F,N,Y,2,67500.0,45000.0,4977.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,5.0
59325,168761,0,Cash loans,F,N,Y,0,139500.0,45000.0,4846.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
52348,160622,0,Cash loans,F,N,N,1,63000.0,45000.0,4977.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
123513,243234,0,Cash loans,F,N,Y,0,67500.0,45000.0,4513.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
179734,308287,0,Cash loans,F,N,Y,2,112500.0,45000.0,4725.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
254627,394647,0,Cash loans,F,N,Y,0,135000.0,45000.0,4738.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
199310,331070,1,Cash loans,M,N,N,0,135000.0,45000.0,4905.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
244783,383318,0,Cash loans,F,N,Y,1,112500.0,45000.0,4207.5,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,1.0
30773,135719,0,Cash loans,F,N,Y,1,99000.0,45000.0,3604.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
105730,222686,1,Cash loans,M,Y,Y,1,94500.0,45000.0,5220.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
13378,115599,0,Cash loans,F,N,Y,1,90000.0,45000.0,4450.5,...,0,0,0,0,0.0,0.0,0.0,3.0,0.0,1.0
64605,174923,0,Cash loans,F,N,N,1,148500.0,45000.0,5337.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
279636,423961,0,Cash loans,F,N,N,1,45000.0,45000.0,5467.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
279640,423965,0,Cash loans,F,N,Y,0,112500.0,45000.0,4855.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
213085,346932,0,Cash loans,F,N,Y,0,112500.0,45000.0,4608.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
202153,334336,0,Cash loans,F,Y,N,0,112500.0,45000.0,5337.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
108713,226091,0,Cash loans,F,Y,N,0,112500.0,45000.0,4846.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,6.0
5925,106941,0,Cash loans,F,N,Y,0,67500.0,45000.0,4725.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
145396,268596,0,Cash loans,F,N,Y,0,67500.0,45000.0,1980.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
49705,157538,0,Cash loans,F,N,Y,0,45000.0,45000.0,4846.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,3.0
237442,375032,0,Cash loans,F,N,N,0,90000.0,45000.0,4608.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
64950,175317,0,Cash loans,M,Y,Y,1,76500.0,45000.0,4738.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155169,279870,0,Cash loans,M,N,N,1,313200.0,3075579.0,111001.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
153358,277759,0,Cash loans,M,Y,Y,0,351891.0,3150000.0,113557.5,...,1,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0
180450,309128,0,Cash loans,F,Y,N,0,303750.0,3150000.0,113557.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
161197,286869,0,Cash loans,M,Y,N,0,282073.5,3150000.0,79632.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
239197,377037,0,Cash loans,F,Y,N,0,436500.0,3150000.0,79632.0,...,1,0,0,0,0.0,0.0,0.0,1.0,0.0,4.0
122681,242239,0,Cash loans,M,N,N,1,727870.5,3150000.0,156933.0,...,1,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
164982,291254,0,Cash loans,M,N,N,0,431478.0,3150000.0,79632.0,...,1,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
32099,137220,0,Cash loans,M,Y,N,1,337500.0,3150000.0,79632.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
285733,430924,0,Cash loans,F,Y,N,0,495634.5,3150000.0,77931.0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
98646,214538,0,Cash loans,F,N,N,0,405000.0,3150000.0,79632.0,...,0,0,0,0,0.0,0.0,1.0,0.0,1.0,2.0
170935,298097,0,Cash loans,M,Y,Y,1,1575000.0,3299688.0,170986.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
286205,431470,0,Cash loans,F,Y,Y,1,621000.0,3312162.0,135031.5,...,1,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
250837,390234,0,Cash loans,M,Y,N,1,1053333.0,3375000.0,85320.0,...,1,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
206594,339462,0,Cash loans,M,N,N,1,394501.5,3375000.0,85320.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
279961,424374,0,Cash loans,M,Y,Y,2,225000.0,3375000.0,85320.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
184460,313808,0,Cash loans,M,Y,N,1,391972.5,3375000.0,85320.0,...,1,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
53936,162494,0,Cash loans,M,Y,N,0,900450.0,3600000.0,91008.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
104577,221360,0,Cash loans,M,Y,N,0,468000.0,3600000.0,91138.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
119380,238431,0,Cash loans,F,Y,N,0,292050.0,3860019.0,97578.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
14643,117085,0,Cash loans,F,Y,N,2,749331.0,3956274.0,197230.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
186230,315893,1,Cash loans,F,N,N,0,458550.0,4027680.0,106380.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
95571,210956,0,Cash loans,M,N,Y,0,430650.0,4031032.5,102033.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
288455,434170,0,Cash loans,F,Y,N,1,450000.0,4050000.0,106839.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
287732,433294,0,Cash loans,F,Y,N,1,405000.0,4050000.0,102514.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
14852,117337,0,Cash loans,M,N,Y,1,760846.5,4050000.0,146002.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
17948,120926,0,Cash loans,M,Y,N,2,783000.0,4050000.0,258025.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
110459,228135,0,Cash loans,M,N,N,2,864900.0,4050000.0,102384.0,...,0,0,0,0,0.0,0.0,0.0,4.0,0.0,0.0
133766,255139,0,Cash loans,F,Y,N,1,1307587.5,4050000.0,100197.0,...,1,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
120757,240007,0,Cash loans,M,N,N,0,587250.0,4050000.0,106969.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
119681,238782,0,Cash loans,M,Y,Y,1,931365.0,4050000.0,102514.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0